.review-popup{
    background-color: white;
    box-shadow: 12px 10px 10px rgba(41, 41, 41, 0.103);
    padding: 35px 40px; 
    width: 100%;
    height: 100%;
    max-width: calc(100% - 45%);
    max-height: calc(100% - 30%); 
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  
  .review-popup__container {
    display: flex;
    padding: 0;
    padding-bottom: 10px;
    margin: 0 15px;
    gap: 20px;  
    flex-direction: column
    }
    
    .review-popup__title {
      color: black;
      font-size: 1.8rem;
      font-weight: bold;
    }
  
    .review-popup__empty-message {
      color: #666; 
      font-size: 16px;
      text-align: center;
      margin-top: 20px;
    }
    
    .review-popup__add-button {
      font-size: 2rem;
      line-height: 0;
      cursor: pointer;
      padding: 30px 20px 35px;
      transition: background-color 250ms ease;
      border: none;
    }
  
    .review-popup__add-button:hover{
      background-color: #3e3f94;
      border: none;
    }
    
    .review-popup__list {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 60vh;
      overflow-y: scroll;
      padding-right: 10px;
  }
  
  .review-popup__list::-webkit-scrollbar {
      width: 6px;
  }
  
  .review-popup__list::-webkit-scrollbar-track {
      margin: 20px 0;
      background: #f1f1f1;
      border-radius: 4px; 
  }
  
  .review-popup__list::-webkit-scrollbar-thumb {
      background-color: #ccc; 
      border-radius: 4px; 
  }
  
  .review-popup__list::-webkit-scrollbar-thumb:hover {
      background-color: #999; 
  }
  
    .review-popup__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin: 10px 0;
      background-color: #f5f5f5;
      border-radius: 8px;
      position: relative;
      transition: box-shadow 0.3s ease;
    }
    
    .review-popup__item:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .review-popup__item-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    
    .review-popup__item-title {
      font-weight: bold;
      color: black;
      text-overflow: ellipsis;
    }
  
    .review-popup__item-description {
      color: black;
      text-overflow: ellipsis;
    }
  
    .review-popup__item-data {
      color: black;
    }
    
    .review-popup__actions {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      gap: 8px;
    }
    
    .review-popup__edit,
    .review-popup__delete {
      background: none;
      border: none;
      color: #949CDF;
      cursor: pointer;
    }
    
    .review-popup__edit:hover,
    .review-popup__delete:hover {
      text-decoration: underline;
    }
    
    .review-popup__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 20px;
    }
    
    .review-popup__input {
      border-radius: 8px;
      background-color: #e1e1e1;
      border: none;
      color: black;
    }
  
    .review-popup__input::placeholder {
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .review-popup__input-destination {
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
    }

    .review-popup__rating-title {
      color: black;
      margin: 5px;
      font-size: 26px;
      font-weight: bold;
    }
  
    .review-popup__input-title {
      font-weight: bold; 
      font-size: 1.2rem;
      padding: 10px;
    }
    
    .review-popup__input-description {
      height: 150px; 
      padding: 15px; 
      resize: none;
      font-size: 1rem;
      font-weight: normal;
      text-align: start; 
      vertical-align: top;
    }
    
    .review-popup__input-data {
      width: 150px;
      padding: 8px;
      font-size: 1rem;
      font-weight: bold; 
    }
  
  .review-popup__data-container {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
  }
  
  .review-popup__input-image {
    height: 40px;
    flex: 1; 
    min-width: 100px; 
    padding: 10px;
    border-radius: 8px;
    background-color: #e1e1e1;
    color: black;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .review-popup__input-data {
    width: 150px;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold; 
    flex: 1; 
    min-width: 100px;
  }
  
    .review-popup__submit-button {
      padding: 10px 50px;
      border: none;
      border-radius: 5px;
      background-color: #578E7E;
      color: #FFFAEC;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
      transition: background-color 250ms ease;
    }
    
    .review-popup__submit-button:hover {
      background-color: #2f4d44;
    }
    
    @media screen and (max-width: 768px) {
      .review-popup__list {
          max-height: 65vh;
      }
    }

    @media screen and (max-height: 900px) {
      .review-popup{
        padding: 10px;
        max-width: 100%;
        max-height: 100%;
        height: 80%;
        width: 80%;
      }

      .review-popup__form {
        gap: 10px;
        margin: 10px;
      }

      .review-popup__title{
        margin: 0;
        font-size: 24px;
        text-align: center;
      }

      .review-popup__input{
        padding: 5px;
        font-size: 16px;
      }

      .review-popup__rating-title{
        font-size: 20px;
        margin: 0;
      }

      .review-popup__submit-button{
        bottom: 5px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 200px;
      }
    }
